<h1>Thoughts</h1>
<% @blogs.each do |blog| %>
    <h2><%= blog.title %></h2>
    <p>Content: <%= blog.content %></p>
    <div>
        <%= link_to "edit", edit_blog_path(blog) %>
    </div>
<% end %> 
